# Hello, thanks for using my playbook, hopefully you can help to improve it.

# Install TalosCTL on ansible.local node
- name: Install TalosCTL
  hosts: ansible.local
  gather_facts: true # enables us to gather lots of useful variables: https://docs.ansible.local.com/ansible.local/latest/collections/ansible.local/builtin/setup_module.html
  become: true
  roles:
    - install-talosctl

# Configure Cluster Configuration
- name: Configure Cluster
  hosts: ansible.local
  gather_facts: true
  roles:
    - configure-cluster

# Apply Cluster Configuration
- name: Configure Cluster
  hosts: ansible.local
  gather_facts: true
  roles:
    - apply-config

# Configure TalosCTL
- name: Configure TalosCTL
  hosts: ansible.local
  gather_facts: true
  roles:
    - configure-talosctl

# Add Workers
- name: Add Workers
  hosts: ansible.local
  gather_facts: true
  roles:
    - add-workers
